node_modules
.vite
dist
out
.DS_Store
.idea
.vscode/
npm-debug.log*
yarn-debug.log*
.env
.env.local
*.log
build/*
!build/icon-attribution.md
!build/icon-source.svg
!build/icon.svg
!build/icon.png
!build/icon.ico

